{% load static %}
{% load pipeline %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/solid.css"
          integrity="sha384-VxweGom9fDoUf7YfLTHgO0r70LVNHP5+Oi8dcR4hbEjS8UnpRtrwTx7LpHq/MWLI" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/fontawesome.css"
          integrity="sha384-rnr8fdrJ6oj4zli02To2U/e6t1qG8dvJ8yNZZPsKHcU7wFK3MGilejY5R/cUc5kf" crossorigin="anonymous">

    {%  stylesheet 'main' %}
    <title>Intelligent Course Scheduler - About</title>
</head>
<body>

{% include "dynamic_pages/navbar.html" %}
<div class="wrapper">

<div class="col-10 mx-auto mt-4">
    <div class="mission-statement-title">
        <h2> Mission Statement </h2>
    </div>
    <div class="mission-statement-body">
        <p>ICS is a personalised course discovery experience for university students that employs Artificial Intelligence and Human Centric Computing.
        Using this system, we hope to make course selection quicker and easier for students.</p>
    </div>
</div>

<div id="team-members" class="col-10 mx-auto my-3">
    <h2>The Team</h2>
    <div class="row mt-5">
        <div class="col-4">
            <img class="img-responsive center-block" src="{% static "img/Joseph.png" %}"/>
            <div class="member-name">
                <p class="text-center font-weight-bold">Joseph Meltzer</p>
            </div>
            <div class="member-role">
                <p class="text-center font-weight-light">Frontend Developer (Team Lead)</p>
            </div>
            <div class="member-email">
                <a href="mailto:joseph.meltzer@anu.edu.au" class="text-center">joseph.meltzer@anu.edu.au</a>
            </div>
        </div>
        <div class="col-4">
            <img src="{% static "img/Tom.png" %}"/>
            <div class="member-name">
                <p class="text-center font-weight-bold">Tom Hamer</p>
            </div>
            <div class="member-role">
                <p class="text-center font-weight-light">AI Developer</p>
            </div>
            <div class="member-email">
                <a href="mailto:u6081614@anu.edu.au">u6081614@anu.edu.au</a>
            </div>
        </div>
        <div class="col-4">
            <img src="{% static "img/Manal.png" %}"/>
            <div class="member-name">
                <p class="text-center font-weight-bold">Manal Mohania</p>
            </div>
            <div class="member-role">
                <p class="text-center font-weight-light">AI Developer</p>
            </div>
            <div class="member-email">
                <a href="mailto:manal.mohania@anu.edu.au">manal.mohania@anu.edu.au</a>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-4">
            <img src="{% static "img/Lim.png" %}"/>
            <div class="member-name">
                <p class="text-center font-weight-bold">Yong Wei Lim</p>
            </div>
            <div class="member-role">
                <p class="text-center font-weight-light">Deployment and Testing Specialist</p>
            </div>
            <div class="member-email">
                <a href="mailto:u6033740@anu.edu.au">u6033740@anu.edu.au</a>
            </div>
        </div>
        <div class="col-4">
            <img src="{% static "img/Thien.png" %}"/>
            <div class="member-name">
                <p class="text-center font-weight-bold">Thien Bui-Nguyen</p>
            </div>
            <div class="member-role">
                <p class="text-center font-weight-light">Frontend Developer</p>
            </div>
            <div class="member-email">
                <a href="mailto:u6050672@anu.edu.au">u6050672@anu.edu.au</a>
            </div>
        </div>
        <div class="col-4">
            <img src="{% static "img/Scarlett.png" %}"/>
            <div class="member-name">
                <p class="text-center font-weight-bold">Scarlett Qin</p>
            </div>
            <div class="member-role">
                <p class="text-center font-weight-light">Backend Developer</p>
            </div>
            <div class="member-email">
                <a href="mailto:sijia.qin@anu.edu.au">sijia.qin@anu.edu.au</a>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <img src="{% static "img/Chris.png" %}"/>
            <div class="member-name">
                <p class="text-center font-weight-bold">Christopher Kim</p>
            </div>
            <div class="member-role">
                <p class="text-center font-weight-light">Project Management</p>
            </div>
            <div class="member-email">
                <a href="mailto:u5797725@anu.edu.au">u5797725@anu.edu.au</a>
            </div>
        </div>
        <div class="col-6">
            <img src="{% static "img/Jack.png" %}"/>
            <div class="member-name">
                <p class="text-center font-weight-bold">YiLong (Jack) Wang</p>
            </div>
            <div class="member-role">
                <p class="text-center font-weight-light">Marketing</p>
            </div>
            <div class="member-email">
                <a href="mailto:u5794538@anu.edu.au">u5794538@anu.edu.au</a>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <img src="{% static "img/Bradley.png" %}"/>
            <div class="member-name">
                <p class="text-center font-weight-bold">Bradley Kim</p>
            </div>
            <div class="member-role">
                <p class="text-center font-weight-light">Advisor</p>
            </div>
            <div class="member-email">
                <a href="mailto:bradley.kim@accenture.com">bradley.kim@accenture.com</a>
            </div>
        </div>
        <div class="col-6">
            <img src="{% static "img/Derrick.png" %}"/>
            <div class="member-name">
                <p class="text-center font-weight-bold">Derrick Leong</p>
            </div>
            <div class="member-role">
                <p class="text-center font-weight-light">Advisor</p>
            </div>
            <div class="member-email">
                <a href="mailto:derrick.leong@accenture.com">derrick.leong@accenture.com</a>
            </div>
        </div>
    </div>
</div>

</div>

{% include "dynamic_pages/footer.html" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha256-5+02zu5UULQkO7w1GIr6vftCgMfFdZcAHeDtFnKZsBs=" crossorigin="anonymous"></script>

<script>
    $('#form-login').submit(function (e) {
        e.preventDefault();
        var email = $.trim($('#login-email').val());
        var password = $.trim($('#login-password').val());
        $.ajax({
            url: '{% url 'login' %}',
            type: 'POST',
            data: {
                email: email,
                password: password
            }
        }).done(function (data) {
            if (data == 'OK') {
                window.location = window.location;
            } else {
                $('#modal-title').html('Login failed');
                $('#modal-body').html(data);
                $('#error-modal').modal('show');
            }
        })
    })

    $('#form-register').submit(function (e) {
        e.preventDefault();
        var username = $.trim($('#register-username').val());
        var username2 = $.trim($('#register-username2').val());
        var password = $.trim($('#register-password').val());
        var password2 = $.trim($('#register-password2').val());
        $.ajax({
            url: '{% url 'register' %}',
            type: 'POST',
            data: {
                username: username,
                username2: username2,
                password: password,
                password2: password2
            }
        }).done(function (data) {
            if (data == 'OK') {
                window.location = window.location;
            } else {
                $('#modal-title').html('Registration failed');
                $('#modal-body').html(data);
                $('#error-modal').modal('show');
            }
        })
    })
</script>

</body>

</html>
