<div class="msg_box" style="right: 1%">
    <div class="msg_head">
        <div class="arrow"></div>
        Ask a Question
    </div>
    <div class="msg_wrap">
        <div class="msg_body">
            <div class="msg_a">Hi, Please click on the link to confirm your registration
                 http://{{ domain }}{% url 'activate' uidb64=uid token=token %}
            </div>
            <div class="msg_push"></div>
        </div>
        <div class="msg_footer"><textarea class="msg_input form-control form-control-plaintext" rows="1"></textarea>
        </div>
    </div>
</div>