{% load pipeline %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/solid.css"
          integrity="sha384-VxweGom9fDoUf7YfLTHgO0r70LVNHP5+Oi8dcR4hbEjS8UnpRtrwTx7LpHq/MWLI" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/fontawesome.css"
          integrity="sha384-rnr8fdrJ6oj4zli02To2U/e6t1qG8dvJ8yNZZPsKHcU7wFK3MGilejY5R/cUc5kf" crossorigin="anonymous">

    {% stylesheet 'main' %}
    <title>Intelligent Course Scheduler - Feedback</title>
</head>
<body style="background: linear-gradient(azure, white 40%); background-repeat: no-repeat">
<div id="error-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modal-title" class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div id="modal-body" class="modal-body">
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% include "dynamic_pages/navbar.html" %}

<wrapper class="d-flex flex-column">
    <div class="mt-4 mb-4">
        <h1 style="text-align:center">Make a Suggestion</h1>
        </div>
        <div class="col-6 mx-auto">
            <div class="form-group">
            <textarea class="typeahead form-control" cols="50" rows="5" id="feedbackForm" placeholder="My thoughts about ICS..."></textarea>

            </div>
                <div class="form-group d-flex">

            <button id="submitFeedbackButton" class="btn btn-primary btn-lg mx-auto" type="submit" onclick=submitFeedback()>Send</button>
                    </div>


            </div>
</wrapper>

{% include "dynamic_pages/footer.html" %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
        integrity="sha256-EGs9T1xMHdvM1geM8jPpoo8EZ1V1VRsmcJz8OByENLA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha256-5+02zu5UULQkO7w1GIr6vftCgMfFdZcAHeDtFnKZsBs=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aws-sdk/2.213.1/aws-sdk.min.js"
        integrity="sha256-UNhE4C4G2iNK4bS34CMHS8oywLzSKwFc0aj7RWmKQJU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"
        integrity="sha256-LOnFraxKlOhESwdU/dX+K0GArwymUDups0czPWLEg4E=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"
        integrity="sha256-dW8u4dvEKDThJpWRwLgGugbARnA3O2wqBcVerlg9LMc=" crossorigin="anonymous"></script>

{% javascript 'main' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>
	function submitFeedback() {
        const sendButton = $('#submitFeedbackButton');
		sendButton.text("Thanks for your feedback!");
        sendButton.attr({'disabled': 'true'});
		$.ajax({
        url: 'feedback/give_feedback?email=none&feedback='+document.getElementById("feedbackForm").value,
        type: 'GET',
        dataType: 'json',
        contentType: 'application/json'
		});
        document.getElementById("feedbackForm").readOnly = true;
    }
</script>
	
<script>
    $('#form-login').submit(function (e) {
        e.preventDefault();
        var email = $.trim($('#login-email').val());
        var password = $.trim($('#login-password').val());
        $.ajax({
            url: '{% url 'login' %}',
            type: 'POST',
            data: {
                email: email,
                password: password
            }
        }).done(function (data) {
            if (data == 'OK') {
                window.location = window.location;
            } else {
                $('#modal-title').html('Login failed');
                $('#modal-body').html(data);
                $('#error-modal').modal('show');
            }
        })
    })

    $('#form-register').submit(function (e) {
        e.preventDefault();
        var username = $.trim($('#register-username').val());
        var username2 = $.trim($('#register-username2').val());
        var password = $.trim($('#register-password').val());
        var password2 = $.trim($('#register-password2').val());
        $.ajax({
            url: '{% url 'register' %}',
            type: 'POST',
            data: {
                username: username,
                username2: username2,
                password: password,
                password2: password2
            }
        }).done(function (data) {
            if (data == 'OK') {
                window.location = window.location;
            } else {
                $('#modal-title').html('Registration failed');
                $('#modal-body').html(data);
                $('#error-modal').modal('show');
            }
        })
    })
</script>

</body>
</html>

