
<footer class="footer bg-dark text-light" style="text-align:center; height:100px">
    This site has been created for you to use as a reliable guide to help plan your degree at ANU and the information on this site is true and complete to the best of our knowledge.
    However, all study plans and recommendations for courses are made without guarantee, as your personal circumstances may impact on the relevance and/or accuracy of this information when applied to your program.
    We therefore recommend that you use ICS in consultation with your relevant academic college to ensure the best outcome for your studies.
  <br>
</footer>
