{% load static %}
{% load pipeline %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/solid.css"
          integrity="sha384-VxweGom9fDoUf7YfLTHgO0r70LVNHP5+Oi8dcR4hbEjS8UnpRtrwTx7LpHq/MWLI" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/fontawesome.css"
          integrity="sha384-rnr8fdrJ6oj4zli02To2U/e6t1qG8dvJ8yNZZPsKHcU7wFK3MGilejY5R/cUc5kf" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <title>Degree Builder</title>
</head>
<body>

<div id="error-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal-title" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-body" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% include "dynamic_pages/navbar.html" %}

<div id="planner-container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="h1 text-center">Plan Your Degree</div>
        </div>
    </div>
    <div class="row mt-3 mb-2">
        <div class="col-12 h3" id="degree-title" tabindex="1">
            <div id="save-button" class="btn btn-outline-success my-auto" tabindex="2">Save/Load Plan</div>
            <div id="degree-title-text"></div>
            <div class="my-auto" style="min-width: 175px">
                <div id="rc-button" class="btn btn-outline-danger" tabindex="3">Reset/Clear Courses</div>
            </div>
        </div>
        <div id="degree-completed-notice" class="col-12 h6 text-center alert alert-success">
            <strong>Congratulations!</strong> You have completed your degree plan!
        </div>
        <div id="courses-forced-notice" class="col-12 h6 text-center alert alert-warning">
            Warning: the following courses do not meet their requirements or availability:
            <span id="courses-forced-list"></span>
        </div>
        <div id="load-failed-notice" class="col-12 h6 text-center d-none alert alert-danger alert-dismissible"
             role="alert">
            Sorry, we were unable to retrieve your degree plan. A blank one has been generated for you.
            <button type="button" class="close" aria-label="Close" style="padding: .6rem 1rem;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="degree-submit-success" class="mx-auto mb-0 d-none alert alert-success alert-dismissible" role="alert">
            <strong>Thank you!</strong> Your degree plan was submitted successfully.
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-3" id="left-panel">
            <ul class="nav nav-tabs" id="input-tabs" role="tablist">
                <li class="nav-item text-center" style="width: 50%">
                    <a class="nav-link active show" id="tab-search" data-toggle="tab" href="#content-search" role="tab"
                       aria-controls="search"
                       aria-selected="true">Search</a>
                </li>
                <li class="nav-item text-center" style="width: 50%">
                    <a class="nav-link" id="tab-recommend" data-toggle="tab" href="#content-recommend" role="tab"
                       aria-controls="recommendations" aria-selected="true">Recommendations</a>
                </li>
            </ul>
            <div class="tab-content" id="input-tabs-content">
                <div class="tab-pane fade show active" id="content-search" role="tabpanel" aria-labelledby="tab-search">
                    <div class="form-row">
                        <label class="h5 text-center" for="add-course" style="width: 100%">
                            Add a course
                            <button id="show-filters" class="btn btn-outline-secondary btn-sm"><i
                                    class="fas fa-filter"></i>
                            </button>
                        </label>
                        <input type="text" name="query" class="form-control" id="add-course" tabindex="4"
                               placeholder="Interest, subject area, course code... " autocomplete="off">
                        <div id="filter-icons" class="mt-1">
                        </div>
                    </div>
                    <div id="search-results-list" class="popover-region" style="margin: .5rem 5px">
                        <div class="card alert-info mb-2">
                            <div class="card-header btn collapsed text-left pl-2" data-toggle="collapse"
                                 data-target="#results-courses">
                                Courses
                            </div>
                            <div class="fa fa-sync-alt fa-spin mx-auto my-auto py-2"
                                 style="font-size: 3rem; display: none"></div>
                            <div id="results-courses" class="collapse">
                                <div class="card-body list-group list-group-flush">
                                </div>
                            </div>
                        </div>
                        <div class="card alert-info mb-2">
                            <div class="card-header btn collapsed text-left pl-2" data-toggle="collapse"
                                 data-target="#results-majors">
                                Majors
                            </div>
                            <div class="fa fa-sync-alt fa-spin mx-auto my-auto py-2"
                                 style="font-size: 3rem; display: none"></div>
                            <div id="results-majors" class="collapse">
                                <div class="card-body list-group list-group-flush">
                                </div>
                            </div>
                        </div>
                        <div class="card alert-info mb-2">
                            <div class="card-header btn collapsed text-left pl-2" data-toggle="collapse"
                                 data-target="#results-minors">
                                Minors
                            </div>
                            <div class="fa fa-sync-alt fa-spin mx-auto my-auto py-2"
                                 style="font-size: 3rem; display: none"></div>
                            <div id="results-minors" class="collapse">
                                <div class="card-body list-group list-group-flush">
                                </div>
                            </div>
                        </div>
                        <div class="card alert-info mb-2">
                            <div class="card-header btn collapsed text-left pl-2" data-toggle="collapse"
                                 data-target="#results-specs">
                                Specialisations
                            </div>
                            <div class="fa fa-sync-alt fa-spin mx-auto my-auto py-2"
                                 style="font-size: 3rem; display: none"></div>
                            <div id="results-specs" class="collapse">
                                <div class="card-body list-group list-group-flush">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="content-recommend" role="tabpanel" aria-labelledby="tab-recommend">
                    <div class="h5 text-center">Recommended Courses for You</div>
                    <div id="degree-recommendations-list" class="list-group">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6" id="centre-panel">
            <div id="plan-grid" class="popover-region"></div>
        </div>
        <div class="col-3 popover-region" id="right-panel">
            <div id='color-coding'>
                <div id='color-coding-header' class='card-header btn text-left pl-2' data-toggle="collapse"
                     data-target="#color-coding-section">
                    Color Legend
                </div>
                <div id='color-coding-section' class='collapse show'></div>
            </div>
            <div id="degree-reqs" style="display: none">
                <ul id="degree-tabs" class="nav nav-tabs d-none" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" id="degree-tab1" data-toggle="tab"
                           href="#degree-reqs-list1" role="tab">Degree 1</a></li>
                    <li class="nav-item">
                        <a class="nav-link" id="degree-tab2" data-toggle="tab"
                           href="#degree-reqs-list2" role="tab">Degree 2</a></li>
                </ul>
                <div id="degree-selector">
                    <a class="nav-arrow left">
                        <div class="fas fa-caret-left mx-auto my-auto"></div>
                    </a>
                    <div class="degree-selector-title"></div>
                    <a class="nav-arrow right">
                        <div class="fas fa-caret-right mx-auto my-auto"></div>
                    </a>
                </div>
                <div id="degree-tabs-content" class="tab-content">
                    <div id="degree-reqs-list1" class="tab-pane fade" role="tabpanel"
                         aria-labelledby="degree-tab1">
                        <div class="degree-header">
                            <a href="javascript:void(0)" class="collapse-all">Collapse all</a>
                            <div class="h5 text-center"></div>
                            <div class="unit-count text-right"></div>
                        </div>
                        <div class="degree-body"></div>
                    </div>
                    <div id="degree-reqs-list2" class="tab-pane fade" role="tabpanel" aria-labelledby="degree-tab2">
                        <div class="degree-header">
                            <a href="javascript:void(0)" class="collapse-all">Collapse all</a>
                            <div class="h5 text-center"></div>
                            <div class="unit-count text-right"></div>
                        </div>
                        <div class="degree-body"></div>
                    </div>
                </div>
            </div>
            <div id="degree-reqs-list">
                <div class="degree-header">
                    <a href="javascript:void(0)" class="collapse-all">Collapse all</a>
                    <div class="h5 text-center">Your Degree</div>
                    <div class="unit-count text-right"></div>
                </div>
                <div class="degree-body"></div>
            </div>
            <label class="h5 text-center mt-3" style="width: 100%">Your Majors, Minors, and Specialisations</label>
            <div id="mms-list-placeholder" class="text-center mt-1" style="padding: 0 8%">Add majors, minors, and
                specialisations by searching on the left.
            </div>
            <div id="mms-active-list"></div>
        </div>
    </div>
</div>

<div class="modal" id="incompat-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-warning">
                <h5 class="modal-title">Course Incompatibility</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>The course you are attempting to add (<span id="incompat-course1"></span>) is incompatible with
                    another course in your degree (<span id="incompat-course2"></span>). You will need to obtain a
                    permission code from the course convenor in order to enrol. </p>
            </div>
            <div class="modal-footer">
                <button id="course-add-override" type="button" class="btn btn-primary" data-dismiss="modal">Add Course
                    Anyway
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="prereq-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-warning">
                <h5 class="modal-title">Course Prerequisites Not Met</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You are missing some prerequisites for the course you are attempting to add (<span
                        id="prereq-modal-course"></span>). Check its prerequisites and try again, or you can add the
                    course anyway but will need to obtain a permission code from the course convenor in order to enrol.
                </p>
            </div>
            <div class="modal-footer">
                <button id="course-add-override" type="button" class="btn btn-primary" data-dismiss="modal">Add Course
                    Anyway
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="dupe-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-warning">
                <h5 class="modal-title">Duplicate Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You are already taking the course you are attempting to add (<span
                        id="dupe-modal-course"></span>). <span id="dupe-modal-extra"></span>You may add the course anyway but may need to obtain a
                    permission code from the course convenor in order to enrol.
                </p>
            </div>
            <div class="modal-footer">
                <button id="course-add-override" type="button" class="btn btn-primary" data-dismiss="modal">Add Course
                    Anyway
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="unavail-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-warning">
                <h5 class="modal-title">Course Not Offered This Semester</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>The course you are attempting to add (<span id="unavail-modal-course"></span>) is not offered in this
                    semester. Please add it to a semester in which it is available. You may add the course anyway but
                    will need to talk to the course convenor to ask them to offer it.
                </p>
            </div>
            <div class="modal-footer">
                <button id="course-add-override" type="button" class="btn btn-primary" data-dismiss="modal">Add Course
                    Anyway
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="rc-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h5 class="modal-title">Reset/Clear Degree Plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You may reset your degree plan to the default for your degree, or clear it completely. </p>
                <p>These actions cannot be undone. </p>
            </div>
            <div class="modal-footer">
                <button id="confirm-clear-button" type="button" class="btn btn-danger" data-dismiss="modal">
                    Clear All Courses
                </button>
                <button id="confirm-reset-button" type="button" class="btn btn-danger" data-dismiss="modal">
                    Reset Degree Plan
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="save-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-warning">
                <h5 class="modal-title">Save/Load Degree Plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your degree plan is automatically saved. You may load it again by entering this code:
                <span id="save-code"></span>
                <hr>
                <h5>Load an existing plan</h5>
                <p>You can load an existing plan by entering its code here. Please note that the current plan will be
                    overwritten - take note of the code above. </p>
                <input id="save-code-box" type="text" class="form-control" required placeholder="Enter code here"/>
                <div id="code-wrong" class="alert-danger">We couldn't find any plan for this code.</div>
            </div>
            <div class="modal-footer">
                <button id="load-plan-button" type="button" class="btn btn-warning">
                    Load Degree Plan
                </button>
                <button style="padding-left: 1.5rem; padding-right: 1.5rem" type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>

{% include "dynamic_pages/footer.html" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
        integrity="sha256-EGs9T1xMHdvM1geM8jPpoo8EZ1V1VRsmcJz8OByENLA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha256-5+02zu5UULQkO7w1GIr6vftCgMfFdZcAHeDtFnKZsBs=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aws-sdk/2.213.1/aws-sdk.min.js"
        integrity="sha256-UNhE4C4G2iNK4bS34CMHS8oywLzSKwFc0aj7RWmKQJU=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/jquery.shadow-animation/1/mainfile"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"
        integrity="sha256-dW8u4dvEKDThJpWRwLgGugbARnA3O2wqBcVerlg9LMc=" crossorigin="anonymous"></script>

{% javascript 'main' %}

<script>
    function saveToProfile() {
        PLAN.changesMade = True;
        SAVER.save();
    }

    $('#form-login').submit(function (e) {
        e.preventDefault();
        var email = $.trim($('#login-email').val());
        var password = $.trim($('#login-password').val());
        $.ajax({
            url: '{% url 'login' %}',
            type: 'POST',
            data: {
                email: email,
                password: password
            }
        }).done(function (data) {
            if (data == 'OK') {
                window.location = window.location;
                saveToProfile();
            } else {
                $('#modal-title').html('Login failed');
                $('#modal-body').html(data);
                $('#error-modal').modal('show');
            }
        })
    })

    $('#form-register').submit(function (e) {
        e.preventDefault();
        var username = $.trim($('#register-username').val());
        var username2 = $.trim($('#register-username2').val());
        var password = $.trim($('#register-password').val());
        var password2 = $.trim($('#register-password2').val());
        $.ajax({
            url: '{% url 'register' %}',
            type: 'POST',
            data: {
                username: username,
                username2: username2,
                password: password,
                password2: password2
            }
        }).done(function (data) {
            if (data == 'OK') {
                window.location = window.location;
                saveToProfile();
            } else {
                $('#modal-title').html('Registration failed');
                $('#modal-body').html(data);
                $('#error-modal').modal('show');
            }
        })
    })
</script>

<script>
    let degree_name = "{{ degree_name }}";
    let degree_code = "{{ degree_code }}";
    let degree_name2 = "{{ degree_name2 }}";
    let degree_code2 = "{{ degree_code2 }}";
    let start_year = {{ start_year }};
    let start_sem = {{ start_sem }};
    let save_code = "{{ save_code }}";
</script>
{% javascript 'planner' %}
</body>
</html>
