Code/courseai/network/*
*.ipynb_checkpoints
Code/server/.idea
Code/courseai/.idea
Code/courseai/venv
*.pyc
*.pyo
Code/courseai/db.sqlite3
.idea
Code/courseai/db.sqlite3
Code/courseai/db.sqlite3.orig
db.sqlite3
venvdb.sqlite.orig
